VITE_SUPABASE_URL=https://rrxyveskmhktqyapugpp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyeHl2ZXNrbWhrdHF5YXB1Z3BwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4MjYxNzAsImV4cCI6MjA5NDQwMjE3MH0.0oYqtC-lhYbk5DXHH7QYycAZHX7XKMgqRyCcPFgb84U
VITE_SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyeHl2ZXNrbWhrdHF5YXB1Z3BwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgyNjE3MCwiZXhwIjoyMDk0NDAyMTcwfQ.jjDvraJpRbVx5RZS4m7qbWGHdXHM03BRO9cVEVC4RVY
VITE_GEMINI_KEY=AIzaSyAIqcFE-Hjl-J5gquiKxAOEvnWDhddz6qc
VITE_MAPBOX_TOKEN=your-mapbox-public-token
VITE_GOOGLE_MAPS_API_KEY=AIzaSyBHoe8sm79Yp32PP4_9MkUkQsGdZNFdM9M
